name: Development

on:
  push:
    branches-ignore:
    - master
    - staging

jobs:
  build:
    name: Deploy Preview
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Get branch name
      id: vars
      run: echo ::set-output name=short_ref::${GITHUB_REF#refs/*/}
    - name: Deploy to Zeit Now
      env:
        BUILD_ID: ${{ github.sha }}
        ZEIT_TOKEN: ${{ secrets.ZEIT_NOW_TOKEN }}
      run: >
        now deploy
        --local-config=./now.preview.json
        --token ${ZEIT_TOKEN}
        --confirm
        > ${HOME}/deployment-url.txt
    - name: Create Alias (branch)
      env:
        ZEIT_TOKEN: ${{ secrets.ZEIT_NOW_TOKEN }}
      run: >
        now alias
        --local-config=./now.preview.json
        --token ${ZEIT_TOKEN}
        `cat ${HOME}/deployment-url.txt`
        zeit-now-poc-dun-${{ steps.vars.outputs.short_ref }}.now.sh
    - name: Comment on PR
      env:
        DEPLOY_URL: zeit-now-poc-dun-${{ steps.vars.outputs.short_ref }}.now.sh
      uses: mshick/add-pr-comment@v1
      with:
        message: |
          **Deployed to**: ${process.env.DEPLOY_URL}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        allow-repeats: false
